*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
}

#global{
    width: 95%;
    margin: 0px auto;
    margin-top: 110px;
    padding: 20px;
}

#icon-page{
    width: 15%;
    margin-right: -90px;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 80px;
    list-style: none;
}

#menu ul li{
    height: 70px;
    display: inline-block;
    transition: all 700ms;
}

.item-menu:hover{
    transition: all 900ms;
}

#menu a{
    display: block;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#menu img{
    width: 35%;
    margin-left: 15px;
    margin-top: 5%;
    margin-bottom: -15px;
    transition: all 700ms;
}

#posts{
    width: 70%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.column{
    font-size: 30px;
    padding: 25px;
}

.column .date{
    display: block;
    margin-top: 5px;
}

.column p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: justify;
}

.button-more{
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 15px;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 85px;
}

#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    float: right;
}

#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    font-size: 30px;
}

#sidebar img{
    display: block;
    width: 60%;
    margin-left: 20%;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
    width: 60%;
    margin-left: 20%;
}

form{
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    padding: 5px;
    border-radius: 2px;
    width: 70%;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

form input[type="submit"]{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    height: 47px;
    margin-bottom: 0px auto;
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 1%;
    margin-right: 1%;
    line-height: 47px;
}

.bx-wrapper, .bx-viewport{
    height: 250px !important;
    border: none !important;
    position: relative !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 100px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: thistle;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url(../images/moon.svg);
    background-size: cover;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #084475;
}

input:focus + .slider {
    box-shadow: 0 0 1px #084475;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider.round:after {
    border-radius: 50%;
}