*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

body{
    background: thistle;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
}

#global{
    width: 95%;
    margin: 0px auto;
    margin-top: 110px;
    background: white;
    padding: 20px;
}

#icon-page{
    width: 15%;
    margin-right: -90px;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 80px;
    list-style: none;
}

#menu ul li{
    height: 70px;
    display: inline-block;
    transition: all 700ms;
}

.item-menu:hover{
    background: thistle;
    transition: all 900ms;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#menu img{
    width: 35%;
    margin-left: 15px;
    margin-top: 5%;
    margin-bottom: -15px;
    transition: all 700ms;
}

#posts{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.column{
    font-size: 30px;
    padding: 25px;
}

.column h2{
    color: #333;
}

.column .date{
    display: block;
    color: gray;
    margin-top: 5px;
}

.column p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 30px;
}

.button-more{
    display: block;
    padding: 15px;
    background-color: thistle;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    width: 130px;
    float: right;
}
