<h2>Contacto</h2>

<form #formContacto = "ngForm" (ngSubmit) = "onSubmit(formContacto)">
    <label for="name">Nombre</label><br>
    <input type="text" name="name" #nombre="ngModel" [(ngModel)]="contacto_usuario.nombre" required pattern="[a-zA-Z]+">
    <span *ngIf="nombre.touched && !nombre.valid">
        El nombre es obligatorio
    </span>
    <br>

    <label for="lastName">Apellido</label><br>
    <input type="text" name="lastName" #apellido="ngModel" [(ngModel)]="contacto_usuario.apellido" required pattern="[a-zA-Z]+">
    <span *ngIf="apellido.touched && !apellido.valid">
        El apellido es obligatorio
    </span>
    <br>

    <label for="email">Email</label><br>
    <input type="email" name="email" #email="ngModel" [(ngModel)]="contacto_usuario.email" required>
    <span *ngIf="email.touched && !email.valid">
        El email no es valido
    </span>
    <br>

    <label for="name">Mensaje</label><br>
    <textarea name="name" #mensaje="ngModel" [(ngModel)]="contacto_usuario.mensaje" required></textarea><br>
    <span *ngIf="mensaje.touched && !mensaje.valid">
        El mensaje es obligatorio
    </span>
    <input type="submit" value="Enviar" [disabled]="!formContacto.form.valid">
</form>
